@import "tailwindcss";

@layer components {
    .quote {
        position: relative;
        display: inline;
        quotes: "“" "”" "‘" "’";
    }
    .quote:before {
        left: 0;
        top: 0;
        display: block;
        position: absolute;
        transform: translate3d(-100%, 0, 0);
        content: open-quote;
    }
    .quote:after {
        content: close-quote;
    }

    .workDetail-trigger {
        position: fixed;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        @media (min-width: 48rem) {
            transform: unset;
            position: relative;
            bottom: unset;
            left: unset;
        }
    }
    .workDetail-trigger.pinned {
        position: fixed;
        top: 24px;
        right: 32px;
    }

    .workDetail-trigger.is-open .icoPlus {
        transform: rotate(45deg);
    }

    .workContent {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        @media (min-width: 48rem) {
            position: relative;
            /* display: none; */
            width: 0;
            top: unset;
            left: unset;
            bottom: unset;
            right: unset;
        }
    }

    .workContent-inner.pinned {
        bottom: 24px;
    }

    .workDetail.is-open .workContent {
        visibility: visible;
        opacity: 1;
        display: block;
        transition: opacity 1s ease-out, visibility 1s ease-out;
    }

    .workDesc {
        transition: width .5s ease !important;
    }
    
    .workItem.open {
        width: calc(1/2 * 100%);
    }
    
    .workDesc {
        width: 100%;
        display: block;
    }

}
